In [1]:
import pandas as pd
import numpy as np

# Simulated gene expression counts
df = pd.DataFrame({
    "gene": ["TP53", "BRCA1", "MYC", "EGFR"],
    "sample_1": [120, 10, 300, 50],
    "sample_2": [140, 12, 280, 45]
})

# Compute mean expression
df["mean_counts"] = df[["sample_1", "sample_2"]].mean(axis=1)

# Log transform (common in RNA-seq)
df["log2_mean"] = np.log2(df["mean_counts"] + 1)

df.sort_values("mean_counts", ascending=False)

    gene  sample_1  sample_2  mean_counts  log2_mean
2    MYC       300       280        290.0   8.184875
0   TP53       120       140        130.0   7.033423
3   EGFR        50        45         47.5   5.599913
1  BRCA1        10        12         11.0   3.584963